<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Login</key>
	<dict>
		<key>class</key>
		<string>LoginViewController</string>
	</dict>
	<key>Home</key>
	<dict>
		<key>class</key>
		<string>HomeViewController</string>
		<key>inputs</key>
		<dict>
			<key>username</key>
			<string>String</string>
		</dict>
	</dict>
</dict>
</plist>
