<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Login</key>
	<dict>
		<key>canNavigateTo</key>
		<dict>
			<key>style</key>
            <string>auto</string> <!-- navigate
                                        if navigation controller presented otherwise, present,
                                   present,
                                   segue,
                                   auto
                                        check if there are a segue otherwise, auto select navigate or present if there are a navigation controller or not -->
			<key>type</key>
			<string>Home</string>
		</dict>
	</dict>
</dict>
</plist>
